[submodule "backend"]
	path = backend
	url = https://github.com/imtavin/strawberry-backend-python.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/imtavin/strawberry-frontend-python.git
[submodule "docs"]
	path = docs
	url = https://github.com/ArtPires/TCC-Documentos.git
[submodule "ia"]
	path = ia
	url = https://github.com/Amandarlima/Morgana-AI.git
