# --- UI ---
customtkinter==5.2.2
darkdetect==0.8.0

# --- Utilitários ---
pillow>=10.4,<11.0
requests>=2.32.3,<3.0
colorama==0.4.6
packaging==25.0

# --- Logging / Sistema ---
psutil>=5.9.8,<6.0

# --- Vídeo/Imagem ---
opencv-python>=4.8
